<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661465656893-qa8g8bn1jtflc32nm6scellqinvemher.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661465656893-qa8g8bn1jtflc32nm6scellqinvemher</string>
	<key>API_KEY</key>
	<string>AIzaSyDor2kOlccLqk5XFM_uXIdcxjJejNmYZWE</string>
	<key>GCM_SENDER_ID</key>
	<string>661465656893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.Object-Detector</string>
	<key>PROJECT_ID</key>
	<string>object-detection-demo-ba7ae</string>
	<key>STORAGE_BUCKET</key>
	<string>object-detection-demo-ba7ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661465656893:ios:c6784b69000f0497764454</string>
</dict>
</plist>